################################################################################################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventorySystem.API/.vs/InventorySystem.API/config
/InventorySystem.API/.vs/InventorySystem.API/DesignTimeBuild
/InventorySystem.API/.vs/InventorySystem.API/FileContentIndex
/InventorySystem.API/.vs/InventorySystem.API/v17
/InventorySystem.API/bin/Debug/net6.0
/InventorySystem.API/.vs/ProjectEvaluation
/InventorySystem.API/obj/Debug/net6.0
/InventorySystem.API/obj
/InventorySystem.Application/bin/Debug/net6.0
/InventorySystem.Application/obj
/InventorySystem.DBScript/obj/Debug
/InventorySystem.Infrastructure/bin/Debug/net6.0
/InventorySystem.Infrastructure/obj
/InventorySystem.SharedLayer/bin/Debug/net6.0
/InventorySystem.SharedLayer/obj
/InventorySystem.DBScript/bin/Debug
/InventorySystem.DBScript/InventorySystem.DBScript.dbmdl
/InventorySystem.DBScript/InventorySystem.DBScript.jfm
*.dbmdl
/InventorySystem.Application/bin/Release/net6.0
/InventorySystem.Infrastructure/bin/Release/net6.0
/InventorySystem.SharedLayer/bin/Release/net6.0
/InventorySystem.API/.config
/InventorySystem.API/bin/Release/net6.0
/InventorySystem.API/Properties/PublishProfiles
/InventorySystem.API/InventorySystem.API/obj
/InventorySystem.API/InventorySystem.Application/obj
/InventorySystem.API/InventorySystem.DBScript/obj
/InventorySystem.API/InventorySystem.Infrastructure/obj/Debug/net7.0
/InventorySystem.API/InventorySystem.Infrastructure/obj
/InventorySystem.API/InventorySystem.SharedLayer/obj/Debug/net7.0
/InventorySystem.API/InventorySystem.SharedLayer/obj
/InventorySystem.API/.vs/InventorySystem/v17/.suo
/InventorySystem.API/InventorySystem.API/bin/Debug/net7.0
/InventorySystem.API/InventorySystem.Application/bin/Debug/net7.0
/InventorySystem.API/InventorySystem.Infrastructure/bin/Debug/net7.0
/InventorySystem.API/InventorySystem.SharedLayer/bin/Debug/net7.0
/InventorySystem.API/.vs/InventorySystem/FileContentIndex
/InventorySystem.API/InventorySystem.DBScript/bin/Debug/net7.0
/InventorySystem.API/.vs/InventorySystem/DesignTimeBuild/.dtbcache.v2
/InventorySystem.API/.vs/
/InventorySystem.API/.vs/InventorySystem/v17/.futdcache.v2
/InventorySystem.API/InventorySystem.API/bin/Release/net7.0
/InventorySystem.API/InventorySystem.API/Properties/PublishProfiles
/InventorySystem.API/InventorySystem.API/InventorySystem.API.csproj.user
/InventorySystem.API/InventorySystem.Application/bin/Release/net7.0
/InventorySystem.API/InventorySystem.Infrastructure/bin/Release/net7.0
/InventorySystem.API/InventorySystem.SharedLayer/bin/Release/net7.0
